/*------------------------------*\
    Styling
\*------------------------------*/

body {
    padding: 20px;
}

.column {
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #777;
    padding: 5px;
    min-height: 30px;
    text-align: center;
    height: 150px;
}

.row:last-child {
    margin-bottom: 0;
}

.p {
  font-size: 14px;
  text-align: center;
  padding-top: 100px;
}


.column-2, .column-4, .column-6, .column-8 {
    color: #333;
    text-align: center;
    border-color: #000;
}

/* Assigning Column widths */
.column-2 {
    width: 16.666667%;
}
.column-3 {
    width: 25%;
}
.column-4 {
    width: 33.33333%;
}
.column-6 {
    width: 50%;
}
.column-8 {
    width: 66.66667%;
}

/* Assigning Colours */
.red { background-color: red}
.green { background-color: darkseagreen}
.blue { background-color: skyblue}
.orange { background-color: orange}
.purple { background-color: mediumpurple}


#container2 {
    margin-top: 20px;
}
